body {
  background-color: #0b052c;
}
#visualizer {
  height: 100%;
  width: 100%;
  overflow: hidden  ;
}

/* #visualizer canvas {
  display: block;
  height: 100%;
  width: 100%;
} */
#audio-player {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 10px;
}
#selector {
  position: fixed;
  bottom: 100px;
}